# Environment variables template

# Controlador del entorno
ENVIRONMENT="your-environment" #dev = desarrollo, prod = produccion

# Connection URL for database
DATABASE_URL="your-database-connection-string"

# Database configuration for local development with Docker
MYSQL_ROOT_PASSWORD="your-mysql-root-password"
MYSQL_DATABASE="your-database-name"
MYSQL_USER="your-mysql-username"
MYSQL_PASSWORD="your-mysql-password"
PORT_DATABASE="your-database-port"

# Server Port
PORT=your-port

#URL Frontend
FRONTEND_URL_DEV="your-frontend-url-dev"
FRONTEND_URL_PROD="your-frontend-url-prod"

# Host
ORIGINS_PROD="your-origins-prod"
ORIGINS_DEV="your-origins-dev" #Vue,Angular,React

# JWT Secret Key
JWT_SECRET="your-jwt-secret"

# Swagger Basic Auth
SWAGGER_USER="your-swagger-username"
SWAGGER_SECRET="your-swagger-password"